sudo: required
dist: precise
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env: COMPILER=g++-4.9
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env: COMPILER=g++-5
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
      env: COMPILER=clang++-3.6
    - compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.7
          packages:
            - clang-3.7
      env: COMPILER=clang++-3.7
git:
    submodules: true
before_install:
  - OUTPUT=$(pwd)
  - sudo apt-get update -qq
  - sudo apt-get install unzip
  - sudo apt-get install build-essential
  - sudo apt-get install libboost-all-dev

  - wget http://www.cmake.org/files/v3.5/cmake-3.5.2.tar.gz
  - tar xf cmake-3.5.2.tar.gz
  - cd cmake-3.5.2
  - ./configure
  - make
  - sudo make install
  - export PATH=/usr/local/bin:$PATH
  - export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH

  - wget https://github.com/google/gumbo-parser/archive/master.zip -O /tmp/gumbo.zip
  - unzip /tmp/gumbo.zip -d /tmp/gumbo
  - cd /tmp/gumbo/gumbo-parser-master/
  - ./autogen.sh
  - ./configure
  - make
  - sudo make install
  - cd $OUTPUT
script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Release .. && make
  - make fleur_cli