html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	overflow: hidden;
}

* {
	overflow: hidden;
	outline: none;
}

.shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}


body {
	background: black;
}

main {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
}

#logo {
	border-radius: 50%;
	background: white;
	height: 32px;
	width: 32px;
	position: absolute;
	top: 22px;
	left: 18px;
}
#logo img {
	width: 22px;
	height: 22px;
	position: relative;
	left: 5px;
	top: 5px;
}



#wrapper {
	margin-left: 50px;
	margin-right: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: calc(100% - 40px);
}

#left {
	border-radius: 8px;
	width: calc(40% - 5px);
	display: inline-block;
	height: 100%;
	position: relative;
}

#right {
	border-radius: 8px;
	margin-left: 10px;
	width: calc(60% - 10px);
	display: inline-block;
	height: 100%;
	position: relative;
}
#background {
	position: absolute;
	z-index: -9999;
	width: 100%;
	height: 100%;
}
canvas {
	position: absolute;
	z-index: -9998;
}

textarea {
	background: transparent;
	border: 0;
	color: white;
	font-size: 25px;
	outline: none;
	width: calc(100% - 20px);
	height: 100%;
	margin-left: 20px;
	resize: none;
}

hr {
	position: absolute;
    width: 0;
    top: 35px;
    border: 1px solid white;
    right: 0;
    will-change: width;
    transition: width 1.1s cubic-bezier(0.77,0,.175,1);
}
#wrapper.landed hr {
	width: calc(100% - 20px);
}

#documentation {
	width: 100%;
	height: 100%;
	border: 0;
	opacity: 0;
	border-radius: 8px;
}
#wrapper.landed #documentation {
	opacity: 1;
	animation: fadeBottom 1s 1 cubic-bezier(0.77,0,.175,1);
}

#quick-actions {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 100px;
	margin: 0;
	padding: 0;
}
#quick-actions li {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: center;
	display: none;
}
#quick-actions li img {
	width: 40px;
	height: auto;
	margin-left: 30px;
	margin-bottom: 10px;
	display: block;
}
#quick-actions li span {
	color: white;
}

#history {
	overflow: auto;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	display: none;
}
#history li {
	background: white;
	border-radius: 8px;
	display: block;
	margin-bottom: 10px;
	padding: 2% 3%;
	animation: fadeRight 1s 1 cubic-bezier(0.77,0,.175,1);
}
#history li span.small {
	color: #666;
	font-size: 12px;
}
#history li span.big {
	color: black;
	font-size: 16px;
	font-weight: 800;
}